#header 
{

	position : relative;
	top : -10px;
	margin-left : 0px;
	margin-right : -10px;
	height : 400px;
	background-image : url(images/back4.jpg);
	width:100%;
	background-repeat: repeat-x;
	max-width : 100%;
background-attachment : fixed;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}



#link
{	position : relative;
	top : 10px;
	left : 600px;
	font-weight : 1200px;
	font-size : 20px;
	color : black;
	font-family : Estrangelo Edessa;
}

#heading 
{	font-family : Estrangelo Edessa;
	font-weight : 1200px;
	text-decoration : underline;
	font-size : 45px;
	padding-left : 90px;
	color : black;
}

.inputsmall 
{
	
	width : 370px;
	height :50px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
	font-family:sans-serif;

        font-size:20px;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}

#mid
{ 
	position : absolute;	
	border : 4px black solid;
	top : 120px;
	left : 0px;
	right:0px;
	height : 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
 	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top:30px;
	padding-bottom:150px;
	padding-left:150px;
	padding-right:150px;
	font-size : 30px;
}

.error 
{
	color : red;
	width : 750px;
	height :50px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
	font-family:sans-serif;

        font-size:20px;

	overflow : auto;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}


#keyword
{
	font-size : 20px;		
	font-weight : bold;
	font-family : "ubuntu condensed";
}
/*
a:link {
  color : black;
    text-decoration: none;
}

a:visited {
color : black;   text-decoration: none;
}


a:hover {
    color: #7cfc00;
	
    border-bottom : 2px solid ;
    padding-bottom : 10px;
}

 selected link 
a:active {
    color: #7cfc00;
     border-bottom : 2px solid;
    padding-bottom : 10px;
    
}
*/


.slash 
{
	color : black;
	font-size : 20px;	
}
#table1
{
	border-collapse: separate;
    border-spacing: 40px 10px;
	border : 4px solid gray;
}



#bt1
{
	position : absolute;
	top : 200px;
	left : 100px;

}
#bt2
{
	position : absolute;
	top : 200px;
	left : 400px;

}
#bt3
{
	position : absolute;
	top : 200px;
	left : 600px;

}


/*
.button
{
	 background-color : green;
	font-family: ubuntu condensed;
	font-size : 25px;
	font-weight : 700px;
	color : white;
	cursor : hand;
	height : 60px;
	padding-left: 10px;
	padding-right: 10px;
	text-align : center;	
	border-top-left-radius: 8px;

	border-top-right-radius: 8px;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
*/


#link1
{
	font-family: ubuntu condensed;
	font-size :25px;
	position : absolute;
	left : 50px;
	top :40px;
	
}


.right
{
	position : relative;
	top : 10px;
	left : 150px;
	font-weight : 1200px;
	font-size : 20px;
	color : white;
	font-family : ubuntu condensed;

}
#back
{
	background-color : #FFFFCC;
	font-family: ubuntu condensed;
	font-size : 25px;
	font-weight : 700px;
	left:50px;
	color : black;
	cursor : hand;
	height : 50px;
	padding-left: 10px;
	padding-right: 10px;
	text-align : center;	
	border-top-left-radius: 8px;

	border-top-right-radius: 8px;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#admin_form{
    margin-top: 70px;
    margin-bottom: 5px;
}
#root_pan{
    margin: 50px;
}
#admin_pan{
    margin: 50px;
}
#log_panel{
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
/*    padding: 100px 250px 250px 100px;*/
}

